.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    position: relative;
  
    .modal-close-area {
      display: flex;
      justify-content: flex-end;
    //   padding: 10px;
      background-color:rgb(43, 40, 40);
      .modal-close-button {
        background: none;
        border: none;
        font-size: 1.3rem;
        padding: 0 5px;
        color: rgba(255, 255, 255, 0.733);
        cursor: pointer;
        &:hover{
          background-color: red;
        }
      }
    }
  
    .modal-iframe {
      width: 100%;
      height: calc(100% - 30px); // Adjust height to account for close button area
    }
  }
  
  @media (max-width: 1024px) {
    .modal-content {
      width: 80%;
      height: 90%;
    }
  }
  
  @media (max-width: 768px) {
    .modal-content {
      width: 90%;
      height: 85%;
    }
  }
  
  @media (max-width: 480px) {
    .modal-content {
      width: 95%;
      height: 80%;
    }
  }
  